<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wyy.demoshiro.mapper.SysUserMapper">

    <insert id="insert">
        INSERT INTO sys_user (username, password, salt, email, phone, status, created_time, updated_time)
        VALUES (#{username}, #{password}, #{salt}, #{email}, #{phone}, #{status}, #{createdTime}, #{updatedTime})
    </insert>

    <select id="findById" resultType="com.wyy.demoshiro.entity.SysUser">
        SELECT * FROM sys_user WHERE id = #{id}
    </select>

    <select id="findAll" resultType="com.wyy.demoshiro.entity.SysUser">
        SELECT * FROM sys_user
    </select>

    <update id="update">
        UPDATE sys_user
        SET username = #{username}, password = #{password}, salt = #{salt}, email = #{email},
        phone = #{phone}, status = #{status}, updated_time = #{updatedTime}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM sys_user WHERE id = #{id}
    </delete>

    <select id="findByUsername" resultType="com.wyy.demoshiro.entity.SysUser">
        SELECT * FROM sys_user WHERE username = #{username}
    </select>


</mapper>
